<div id="contenido"><h3>Autores</h3>
<p>Ana Martín Legorburo</p>
<img src="fotoAna.JPG" width="320">
<p>Santiago Pantín de Prado</p>
<img src="fotoSanti.jpg" width="320"></br>
<video width="520" controls preload>
		<source src="bass.mp4" type=video/mp4>
		<source src="bass.webm" type=video/webm>
	</video></br>
<a href="/"><button>Volver</button></a> </div>