<!--<form method="get" name="texto_a_buscar" action="/quizes?search=texto_a_buscar"/>
  <input type="text" name="buscar" value="Busqueda"/>
  <input type="submit" value="Enviar">
  </form>-->
<form method="get" action="/quizes/answer">        
 
  Pregunta: <%= pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>